<h1>About</h1>
<div class="aboutText">
    <p> Kane's empire, in its glory, held dominion over thirty-seven newpapers, thirteen magazines, a radio network. An
        empire upon an empire. The first of grocery stores, paper mills, apartment buildings, factories, forests,
        ocean-liners - An empire through which for fifty years flowed, in an unending stream, the wealth of the earth's
        third richest gold mine... Famed in American legend is the origin of the Kane fortune... How, to boarding
        housekeeper Mary Kane, by a defaulting boarder, in 1868 was left the supposedly worthless deed to an abandoned
        mine shaft: The Colorado Lode.
        <br>
        <br>
        Twice married, twice divorced - first to a president's niece, Emily Norton - today, by her second marriage,
        chatelaine of the oldest of England's stately homes. Sixteen years after that - two weeks after his divorce from
        Emily Norton - Kane married Susan Alexander, singer, at the Town Hall in Trenton, New Jersey.
    </p>

</div>

<div class="container">
    <mat-expansion-panel class="panel">
        <mat-expansion-panel-header>
            <h2>Skills</h2>
        </mat-expansion-panel-header>
        <div class="skillsText">
            <p>* Art Of Capitalism</p>
            <p>* Art of Journalism</p>
            <p>* Crafting The Printed Word For the Masses</p>
            <p>* Born Politician</p>
        </div>
    </mat-expansion-panel>
</div>