h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 3em;
    padding-left: 20px;

}

h2 {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 3em;
    padding-left: 20px;
}

.aboutText {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-bottom: 6px;
    font-size: 1.2em;
    padding-left: 20px;
}

.skillsText {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    font-size: 1.2em;
    padding-left: 20px;
}

.width {
    width: 700px;
    margin: auto;
}

.panel {
    display: center;
    margin: auto;
    padding-top: 10px;
}

.container {
    margin-top: 20px;
}

