h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 3em;
}

.container{
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-bottom: 20px;
    font-size: 1.2em;
    padding: 20px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

p {
 text-shadow: 5cap;
 cursor: pointer;
}

p:hover {
    text-shadow: 0 2px 20px #474747;
}