<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list class="list">
      <a class="item" mat-list-item routerLink="/home" href="#" color="primary">Home</a>
      <a class="item" mat-list-item routerLink="/about" href="#">About</a>
      <a class="item" mat-list-item routerLink="/jobs" href="#">Jobs</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
